/* ------------------------------------ *
 CSS
 sabato 2 luglio 2005 18.29.13
 HAPedit 3.1.11.111
 * @author: Daniele Primon
 * ------------------------------------ */

a {
    display: block;
}

/*  stili per crumbline */
.crumbline {
	border: 1px dotted darkgray;
	padding: 4px 8px;
	display: inline-block;
	margin: 1em;
}

.crumbline a {
	display: inline;
}

table.dati tr:hover {
	background: yellow;
	border-collapse: collapse;
}

.panel
{
	display: block;
	float: left;
	margin: 1em;
}


/* stili per moduli */
form {
	line-height: 2em; 
}

form label {
	display: block; float: left;
	width: 8em; 
	margin: 0 1em 0 1em;
}

form input, textarea, select { 
	display: block; float: left;
	border: 1px solid black;
	padding: 0.2em 0.6em;
	margin: 0.4em;
	color: #333;

 }

form .tre_campi { 
	width: 5em;
 }

form .tre_label { 
	width: 5em;
 }

form br { clear: left }

