body { margin: 0; padding: 0; /*border: 4px dotted red;*/ }

@media screen {
  .foglio {
     width: 210mm; height: 297mm; border: 1px solid #666; background: #FFF3DF; z-index: -3; overflow: visible;
     margin: 5mm; padding: 20mm 10mm 0mm 10mm; 
  }

  #linkStampa {
     margin: 4px auto;
     text-align: center;
  }
}

@media print {
   .foglio {
      width: 99%; height: 100%; margin: 0; padding: 0;
      border: none; background: transparent none;
   }

   #linkStampa {
      display: none;
   }
   
  .stono {
  	margin-bottom: 1.5em;
  }
}

.intestazione table {
   border: 1px solid black;
   border-collapse: collapse;
}

.intestazione table td {
   border: 1px solid black;
}

.intestazione .sx {
   text-align: center;
   font-size: 20pt;
}

.intestazione .centro {
   text-align: center;
   font-size: 16pt;
   font-weight: bold;
}

.intestazione .dx1 {
   text-align: left;
   font-size: 12pt;
   font-weight: bold;
   padding: 0 0 0 2mm;
}

.intestazione .dx2 {
   text-align: left;
   font-size: 12pt;
   font-weight: bold;
   padding: 0 0 0 2mm;
}

.intestazione .dx3 {
   text-align: left;
   font-size: 12pt;
   padding: 0 0 0 2mm;
}


.steno {
   border-collapse: collapse;
   border: 2px solid black;
}

.stono {
   border-collapse: collapse;
   border: 1px solid black;
   overflow: hidden;
}


.steno CAPTION, .stono CAPTION 
{ font: bold 12pt 'Times New Roman',serif; padding-top: 4mm; }


.stono TBODY { /*background: url(images/riga.png) 0 2.0cm; */ overflow: hidden; vertical-align: top; }

.steno TD, .stono TD {
	border-bottom: 1px solid black; vertical-align: top; height: 20pt; /* altezza righe*/
	font: normal 12pt 'Courier New', monospace; overflow: hidden; 
	padding: 0; margin: 0;
}

.stono TD { border-right: 1px solid black; /*border-bottom: none;*/ }	

.stono TR TH   { 
	font: bold 12pt 'Times New Roman', serif;
	border-bottom: 1px solid black; vertical-align: middle; 
	border-right: 1px solid black;
	height: 10pt; /* altezza righe*/
	padding: 0; margin: 0;
}

/*  Etichette Campi*/
.steno TD SPAN {
    margin: 1pt 6pt 2pt 6pt; font: normal 10pt 'Times New Roman',serif;
    float: left; height: 100%; color: #555;
}

/* Dati campi */
.steno TD DIV {
   display: block;
   margin: 2px 20px;
   /* content: ''; */
}

.destro {
   text-align: right;
}

.steno .righe {
   width: 100%;
}

.righe table.steno {
   border: none;

}

.righe .steno TR {
   border-color: red;
}

.steno TR.noborder TD { border-bottom: none; }


TABLE.steno2 TD {
   height: 14pt;
}
